*{margin: 0;
padding: 0;
box-sizing: border-box;}


html{font-size: 62.5%;}


.head{font-size:5rem;
font-family: Georgia, 'Times New Roman', Times, serif;}

.web{font-size: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: 600;}


.form{font-size: 2rem;
font-family: Georgia, 'Times New Roman', Times, serif;}

input:focus {border: 1px solid red;
outline: none;}

.select{font-size: 2rem;
font-weight: lighter;}

.box{padding: 6px 10px;
width: 300px ;
height: 50px;}


select:focus {border: 1px solid red;
    outline: none;}
    
textarea:focus {border: 1px solid red;
    outline: none;}

    
.button{background-color: red;
border: 0;
padding: 5px 10px;
color: white;
border-radius: 10px;
}
    

