*{margin: 0;
padding: 0;
box-sizing: border-box;}


html{font-size: 62.5%;}


.head{font-size:6rem;
font-family: Georgia, 'Times New Roman', Times, serif;}

.web{font-size: 4rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: 600;}


.form{font-size: 3rem;
font-family: Georgia, 'Times New Roman', Times, serif;}

input:focus {border: 1px solid red;
outline: none;}